@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-blue: #0074c7;
    --brand-blue-light: #1188e6;
    --brand-yellow: #ffdc0e;
    --brand-white: #fff;

    --background: #e5f4ff;
    --foreground: #0f172a;

    --primary: var(--brand-blue);
    --primary-foreground: var(--brand-white);
    --accent: var(--brand-yellow);
    --accent-foreground: var(--brand-blue);
    --card: #ffffff;
    --card-foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a; /* Dark text on light card */


  }

  body {
    @apply font-sans bg-[color:var(--background)] text-[color:var(--foreground)] min-h-screen;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-[color:var(--foreground)];
  }

  button {
    @apply rounded-md font-medium transition duration-300;
  }

  .card {
    @apply bg-[color:var(--card)] text-[color:var(--card-foreground)] rounded-lg shadow-xl p-6;
  }

  .tab-button[data-state="active"] {
    background-color: var(--primary);
    color: white;
  }
  
  .tab-button {
    color: var(--primary);
  }
  

}